<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Shift Manager
        </a>
    </div>
    <ul class="nav">
        <li class="divider" *ngIf="!isMobile"></li>
        <li routerLinkActive="active">
            <a routerLink="/">
                <i class="ti-panel"></i>
                <p>Home</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="users">
                <i class="ti-users"></i>
                <p>Utenti</p>
            </a>
        </li>
    </ul>
</div>